project:
  type: website
  output-dir: _site
  render:
    - "*.qmd"

website:
  twitter-card: true
  search: 
    location: navbar
    type: overlay
  favicon: "assets/favicons/favicon.ico" 
  page-footer:
    left: 
      - icon: code-slash
        href: https://github.com/lukmayer/website
        aria-label: Source code
    center:
     - text: Made with Quarto
       href: https://quarto.org
       aria-label: Quarto
    right:
      - icon: rss-fill
        href: /blog/index.xml
        aria-label: Blog RSS feed


  open-graph: true
  site-url: "https://lukmayer.github.io"
  title: "lukmayer.github.io"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: research/index.qmd
        text: "Research"
      - href: cv/index.qmd
        text: "CV"
      - href: blog/index.qmd
        text: "Blog"
      - href: about/index.qmd
        text: "About"
      - href: now/index.qmd
        text: "Now"


    right:
      - text: "Login"
        href: https://lukmayer.github.io/login_portal/

blog:
  title: "Luke's Blog"

format:
  html:
    minimal: false
    respect-user-color-scheme: true
    code-line-numbers: true
    smooth-scroll: true
    theme:  
      dark: [morph, theme_morph_dark.scss]
      light: [morph, theme_morph_light.scss]
    css: styles.css
    toc: true
    footnotes-hover: true
    reference-location: margin
    link-external-newwindow: true
    link-external-filter: "https://www.lukmayer.github.io"
    canonical-url: true
    toc-location: left
    toc-title: "Sections:"
    toc-depth: 4
    toc-expand: 4
    title-block-style: default # TODO: review
    title-block-banner: true 
    title-block-categories: true
    code-fold: show
    code-copy: true
    code-tools: false
    code-overflow: scroll
    code-block-border-left: true
    highlight-style: atom-one 
    fig-responsive: true
    lightbox: true

    
execute:
  cache: true
  freeze: auto

  
  
  