
.navbar {
    font-size: 1.3em; 
    border-radius: 20px; 
}

.navbar-title {
  font-size: 0.01em;
  opacity: 0 !important;
}

.quarto-title-banner {
    padding: 20px; 
    border-radius: 20px;
    margin-top: 0px; 
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#quarto-header {
    padding: 20px; 
}

.nav-footer-center p {
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-footer-center svg {
    vertical-align: middle;
}

.nav-footer {
    background-color: #00000000; 
    align-items: center;
    display: flex;
}

.nav-footer-left,
.nav-footer-center,
.nav-footer-right {
    display: flex;
    align-items: center;
    flex: 1; 
}

.nav-footer-left {
    justify-content: flex-start; 
}

.nav-footer-center {
    justify-content: center; 
}

.nav-footer-right {
    justify-content: flex-end; 
}

.footer-items {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
}


.nav-footer a:hover {
    transform: translateY(-1px);
}

div.callout-important.callout-style-default>.callout-header {
    background-color: transparent !important;
}

body div.callout-important.callout-style-default>.callout-header {
    background-color: transparent;
}

div.callout-important.callout-style-default[class*="callout"]>.callout-header {
    background-color: transparent;
}

nav.sidebar.sidebar-navigation:not(.rollup) {
    background-color: transparent !important;
}

.quarto-title-banner {
    margin-bottom: 1em;
    background: transparent !important;
}

.nav-item {
    box-shadow: none !important;
}

