/*-- scss:defaults --*/
@function body-mix($weight) {
  @return mix($body-bg, $body-color, $weight);
}


$gray-900: #222 !default;
$white:    #fff !default;

$body-color: $white !default;
$body-bg: $gray-900 !default;


$primary: body-mix(85%) !default;
$secondary: body-mix(85%) !default;



$navbar-bg: #4f4f4f; /* Dark gray background color */
$link-color: #00bf63; /* Green link color */
$navbar-hl: #00bf63;

.navbar {
  a {
    font-weight: bold;
    font-size: 1.0em; // Adjust the size as needed
  }
}

$btn-code-copy-color: #ffffff; // passive copy button color
$btn-code-copy-color-active: #00bf63; // Hover/active state color (e.g., red)

